@import './variable.scss';

@mixin abs-center(){
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

@mixin flex($direction:row,$justify:center,$align:center){
	display:flex;
	flex-flow:$direction nowrap;
	/*主轴*/
	@if $justify==start {
		justify-content:flex-start;
	}
	@else if $justify==end {
		justify-content:flex-end;
	}
	@else if $justify==between {
		justify-content:space-between;
	}
	@else if $justify==around {
		justify-content:space-around;
	}
	@else {
		justify-content:$justify;
	}
	/*交叉轴*/
	@if $align==start {
		align-items:flex-start;
	}
	@else if $align==end {
		align-items:flex-end;
	}
	@else {
		align-items:$align;
	}
}

@mixin radius($size:$radius,$direction:none){
	@if $direction==top {
		border-top-left-radius:$size;
		border-top-right-radius:$size;
	}
	@else if $direction==bottom {
		border-bottom-left-radius:$size;
		border-bottom-right-radius:$size;
	}
	@else if $direction==left {
		border-top-left-radius:$size;
		border-bottom-left-radius:$size;
	}
	@else if $direction==right {
		border-top-right-radius:$size;
		border-bottom-right-radius:$size;
	}
	@else {
		border-radius:$size;
	}
}

@mixin space($size,$direction){
	@if $direction==top {
		&:not(:first-child){
			margin-#{$direction}:$size;
		}
	}
	@else if $direction==left {
		&:not(:first-child){
			margin-#{$direction}:$size;
		}
	}
	@else if $direction==bottom {
		&:not(:last-child){
			margin-#{$direction}:$size;
		}
	}
	@else if $direction==right {
		&:not(:last-child){
			margin-#{$direction}:$size;
		}
	}
}

@mixin divider($val,$direction){
	&:not(:first-child){
		border-#{$direction}:$val;
	}
}

@mixin textEllipsis($count:2){
	overflow:hidden;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:$count; //行数
	-webkit-box-orient:vertical;
}

@mixin textWrap(){
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
}