/*抖音字体*/
$fontsize: 26upx;


/*颜色相关*/

$theme:#10B2F8;
$theme2:#5DD3FF;
$theme3:#E1EFFF;


/*边框*/
$border:2rpx solid #E3E3E3;

/*圆角*/
$radius:30rpx;

/*字体*/
$family:"Microsoft YaHei";

/*字体颜色*/
$light:#999999;
$dark:#030303;

/*阴影*/
$shadow:0rpx 0rpx 10rpx 0rpx rgba(0, 0, 0, 0.20);